* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(6, 6, 36, 0.737); /* Updated background color */
    font-family: 'Arial', sans-serif;
    color: #fff;
}

.Bar {
    display: flex;
    align-items: center;
    background-color: lightgrey; /* Light grey background color for navbar */
    height: 60px;
    padding: 0 20px;
}

.Bar img {
    width: 40px;
    height: 40px;
}

.Bar .links {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.Bar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
}

.Bar a:hover {
    background-color: #27ae60; /* Green background color on hover */
    padding: 10px;
    border-radius: 10px;
}

.Bar-2 {
    margin-left: 20px;
}

.Info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}



.InputGroup {
    width: calc(33.33% - 20px);
    margin: 10px;
        
}

.TextAreaGroup {
    width: 100%;
    margin: 10px;
    box-sizing: border-box;
}

.Info label,
.Info input,
.Info select,
.Info textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 15px; /* Increase the padding for larger height */
    border: 1px solid #555; /* Add border for visibility */
    border-radius: 8px; /* Add border-radius for rounded corners */
}

.Info textarea {
    height: 200px;
    resize: vertical;
}
.hero {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-content: center;
    justify-content: space-around; /* Adjusted to provide space between hero sections */
    margin-top: 20px; /* Added margin to separate hero sections */
}

.drop-area {
    width: 200px; /* Adjusted width */
    height: 200px; /* Adjusted height */
    padding: 20px; /* Adjusted padding */
    background: #fff;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-view {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px dashed #bbb5ff;
    background: #f7f8ff;
    background-size: cover;
}

.img-view img {
    width: 80px; /* Adjusted width */
    margin-top: 15px; /* Adjusted margin */
}

.img-view span {
    display: block;
    font-size: 12px;
    color: #777;
    margin-top: 10px; /* Adjusted margin */
}
