*{
  margin: 0;
}
body{
  background-color: rgb(122, 87, 134);
}
.Bar{
    display: flexbox;
    text-decoration: none;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
    border: none;
    background-color: transparent;
    height: 150px;
    overflow: hidden;
}
.Bar a{
    padding: 14px 16px;
    display: inline-block;
    text-decoration: none;
    color: rgb(241, 219, 219);
}
.Bar a:hover{
    background-color: grey ;
    height: 55px;
}
.Bar-1{
    background-color: grey;
    height: 50px;
    width: 40px;
}
.Bar-2{
  height: 50px;
  width: 75px;
  float: right;
}
.slider {
    width: 1000px;
    height: 500px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
  }
  .image-container {
    width: 1000px;
    background-color: pink;
    height: 500px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }
  .slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  #slide-1:target ~ .image-container {
    left: 0px;
  }
  #slide-2:target ~ .image-container {
    left: -500px;
  }
  #slide-3:target ~ .image-container {
    left: -1000px;
  }
  .buttons {
    position: relative;
    top: -20px;
  }
  .buttons a {
    display: inline-block;
    height: 25px;
    width: 15px;
    border-radius: 50px;
    background-color: lightgreen;
  }
  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2d5986;
  }

  .text-container {
    flex: 1;
    padding-right: 20px; /* Adjust as needed for spacing between text and image */
  }

  h2, p {
    margin: 10; /* Remove default margin */
  }

  img {
    max-width: 20%;
    height: auto;
    border: 1px solid #ddd; /* Add a border around the image if desired */
    border-radius: 4px; /* Optional: Add rounded corners */
  }
  .container{
    display: flex;
    justify-content: center;
  }
  .card{
    border: 1px solid black;
    background-color: white;
    width: 270px;
    height: 400px;
    margin: 20px;
  }
  .card-image{
    background-color: aliceblue;
    height: 210px;
    margin-bottom: 15px;
    background-size: 100%;
  }
  .card-1{
    background-image: url('https://hips.hearstapps.com/hmg-prod/images/new-lead2-1670881359.jpg?resize=2048:*');
  }
  .card-2{
    background-image: url('https://m.media-amazon.com/images/I/91Zy0+OksKL._AC_UF894,1000_QL80_.jpg');
  }
  .card-3{
    background-image: url('https://source.widen.net/content/ystlalyddi/jpeg/Christmas-Charm-Glass-Ornaments_SS_SOCIAL-MEDIA-177.jpg?crop=true&keep=c&q=80&color=ffffffff&u=2phlgw&w=720&h=480');
    height: 180px;
  }

  h2, p{
    margin: 10;
    font-size: 100%;
    font-style: oblique;
  }
  
footer{
  background-color: black;
  width: 100%;
}
.Footer{
  padding: 70px 30px 20px;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons a{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i {
  color: black;
  font-size: 2em;
  opacity: 0.9;
}